In [1]:
from sklearn.preprocessing import MinMaxScaler
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
data =pd.read_csv("/content/diabetes.csv")

In [4]:
data.shape

(768, 9)

In [5]:
data.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  diabetes
0            6      148             72  ...                     0.627   50         1
1            1       85             66  ...                     0.351   31         0
2            8      183             64  ...                     0.672   32         1
3            1       89             66  ...                     0.167   21         0
4            0      137             40  ...                     2.288   33         1

[5 rows x 9 columns]

In [6]:
data.isnull().values.any()

False

In [7]:
data.corr()

                          Pregnancies   Glucose  ...       Age  diabetes
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
diabetes                     0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [8]:
diabetes_map = {True:1, False:0}

In [9]:
data['diabetes'] = data['diabetes'].map(diabetes_map)

In [10]:
data.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  diabetes
0            6      148             72  ...                     0.627   50         1
1            1       85             66  ...                     0.351   31         0
2            8      183             64  ...                     0.672   32         1
3            1       89             66  ...                     0.167   21         0
4            0      137             40  ...                     2.288   33         1

[5 rows x 9 columns]

In [11]:
diabetes_true_count = len(data.loc[data['diabetes']== True])
diabetes_false_count = len(data.loc[data['diabetes']== False])

In [12]:
print(diabetes_true_count,diabetes_false_count)

268 500

In [13]:
from sklearn.model_selection import train_test_split
feature_columns =['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
predicted_class = ['diabetes']

In [14]:
X =data[feature_columns].values
Y= data[predicted_class].values

x_train, x_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=10)

In [15]:
model=XGBClassifier()
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
y_pred=model.predict(x_test)
print(accuracy_score(y_test, y_pred)*100)

74.89177489177489

In [16]:
from sklearn.ensemble import RandomForestClassifier
random_forest_model = RandomForestClassifier(random_state=10)

random_forest_model.fit(x_train, y_train.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [17]:
predict_train_data = random_forest_model.predict(x_test)

from sklearn import metrics

print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, predict_train_data)))

Accuracy = 0.749

In [20]:
import pickle
file=open("diabetes.pkl","wb")

pickle.dump(random_forest_model,file)

In [23]:
model=pickle.load(open('/content/diabetes.pkl','rb'))
print(model.predict([[7,196,90,0,0,39.8,0.451,41]]))

[1]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')