In [29]:
#import libraries
import glob
from keras.models import Sequential, load_model
import numpy as np
import pandas as pd
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import matplotlib.pyplot as plt
import keras as k
from sklearn.metrics import accuracy_score

In [33]:
#Load the data

df = pd.read_csv('kidney_disease.csv')

#Print the first 5 rows
df.head()

   id   age    bp     sg   al   su  ...   dm cad appet   pe  ane  classification
0   0  48.0  80.0  1.020  1.0  0.0  ...  yes  no  good   no   no             ckd
1   1   7.0  50.0  1.020  4.0  0.0  ...   no  no  good   no   no             ckd
2   2  62.0  80.0  1.010  2.0  3.0  ...  yes  no  poor   no  yes             ckd
3   3  48.0  70.0  1.005  4.0  0.0  ...   no  no  poor  yes  yes             ckd
4   4  51.0  80.0  1.010  2.0  0.0  ...   no  no  good   no   no             ckd

[5 rows x 26 columns]

In [34]:
#Get the shape of the data (the number f rows & cols)
df.shape

(400, 26)

In [35]:
#Create a list of coumn names to keep
columns_to_retain = ['sg', 'al', 'sc', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'classification']

#Drop the coluns that are not in columns_to_retain
df = df.drop( [col for col in df.columns if not col in columns_to_retain] , axis=1 )

#Drop the rows with na or missing values
df = df.dropna(axis=0)

In [36]:
#Transform the non-numeric data in the columns
for column in df.columns:
  if df[column].dtype == np.number:
    continue
    df[column] = LabelEncoder().fit_transform( df[column] )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
#Print the first 5 rows of the new cleaned data set
df.head()

      sg   al   sc  hemo pcv  htn classification
0  1.020  1.0  1.2  15.4  44  yes            ckd
1  1.020  4.0  0.8  11.3  38   no            ckd
2  1.010  2.0  1.8   9.6  31   no            ckd
3  1.005  4.0  3.8  11.2  32  yes            ckd
4  1.010  2.0  1.4  11.6  35   no            ckd

In [38]:
df.replace({"yes":1,"no":0},inplace=True)
df.replace({'ckd':0,"notckd":1},inplace=True)

In [39]:
df.head()

      sg   al   sc  hemo pcv  htn  classification
0  1.020  1.0  1.2  15.4  44    1               0
1  1.020  4.0  0.8  11.3  38    0               0
2  1.010  2.0  1.8   9.6  31    0               0
3  1.005  4.0  3.8  11.2  32    1               0
4  1.010  2.0  1.4  11.6  35    0               0

In [40]:
#Split the data into independent (X) data set (the features) and dependent (y) data set (the target)
X = df.drop(['classification'], axis=1)
y = df['classification']

In [41]:
#Feature Scaling
#min-max scaler method scales the data set so that all the input features lie between 0 and 1
x_scaler = MinMaxScaler()
x_scaler.fit(X)
column_names = X.columns
X[column_names] = x_scaler.transform(X)

In [42]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,shuffle=True)

In [43]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=10)

model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [44]:
y_pred=model.predict(x_test)
print(accuracy_score(y_test, y_pred)*100)

100.0

In [45]:
model.predict([["1.020","1.0","1.2","15.4","44","1"]])

array([0])

In [46]:
import pickle
file=open("kidney.pkl","wb")

pickle.dump(model,file)