In [19]:
# Importing the required Libraries.
import pandas as pd
import numpy as np
import sys
import os
import time
#ignore warnings
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [13]:
#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
#Configure Visualization Defaults
#%matplotlib inline = show plots in Jupyter Notebook browser
%matplotlib inline
sns.set_style('white')

from sklearn.model_selection import cross_val_score

In [4]:
df = pd.read_csv('/content/Indian Liver Patient Dataset (ILPD).csv')
df.describe()

              age  tot_bilirubin  ...     alkphos  is_patient
count  583.000000     583.000000  ...  579.000000  583.000000
mean    44.746141       3.298799  ...    0.947064    1.286449
std     16.189833       6.209522  ...    0.319592    0.452490
min      4.000000       0.400000  ...    0.300000    1.000000
25%     33.000000       0.800000  ...    0.700000    1.000000
50%     45.000000       1.000000  ...    0.930000    1.000000
75%     58.000000       2.600000  ...    1.100000    2.000000
max     90.000000      75.000000  ...    2.800000    2.000000

[8 rows x 10 columns]

In [7]:
df.head()

   age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
0   65  Female            0.7  ...   3.3     0.90           1
1   62    Male           10.9  ...   3.2     0.74           1
2   62    Male            7.3  ...   3.3     0.89           1
3   58    Male            1.0  ...   3.4     1.00           1
4   72    Male            3.9  ...   2.4     0.40           1

[5 rows x 11 columns]

In [5]:
print(df.columns)
print('*'*50)
for i in df.columns :
    print(i)
    print(df[i].describe())
    print('*'*50)

Index(['age', 'gender', 'tot_bilirubin', 'direct_bilirubin', 'tot_proteins',
       'albumin', 'ag_ratio', 'sgpt', 'sgot', 'alkphos', 'is_patient'],
      dtype='object')
**************************************************
age
count    583.000000
mean      44.746141
std       16.189833
min        4.000000
25%       33.000000
50%       45.000000
75%       58.000000
max       90.000000
Name: age, dtype: float64
**************************************************
gender
count      583
unique       2
top       Male
freq       441
Name: gender, dtype: object
**************************************************
tot_bilirubin
count    583.000000
mean       3.298799
std        6.209522
min        0.400000
25%        0.800000
50%        1.000000
75%        2.600000
max       75.000000
Name: tot_bilirubin, dtype: float64
**************************************************
direct_bilirubin
count    583.000000
mean       1.486106
std        2.808498
min        0.100000
25%        0.200000
50%        0.300000
75%        1.300000
max       19.700000
Name: direct_bilirubin, dtype: float64
**************************************************
tot_proteins
count     583.000000
mean      290.576329
std       242.937989
min        63.000000
25%       175.500000
50%       208.000000
75%       298.000000
max      2110.000000
Name: tot_proteins, dtype: float64
**************************************************
albumin
count     583.000000
mean       80.713551
std       182.620356
min        10.000000
25%        23.000000
50%        35.000000
75%        60.500000
max      2000.000000
Name: albumin, dtype: float64
**************************************************
ag_ratio
count     583.000000
mean      109.910806
std       288.918529
min        10.000000
25%        25.000000
50%        42.000000
75%        87.000000
max      4929.000000
Name: ag_ratio, dtype: float64
**************************************************
sgpt
count    583.000000
mean       6.483190
std        1.085451
min        2.700000
25%        5.800000
50%        6.600000
75%        7.200000
max        9.600000
Name: sgpt, dtype: float64
**************************************************
sgot
count    583.000000
mean       3.141852
std        0.795519
min        0.900000
25%        2.600000
50%        3.100000
75%        3.800000
max        5.500000
Name: sgot, dtype: float64
**************************************************
alkphos
count    579.000000
mean       0.947064
std        0.319592
min        0.300000
25%        0.700000
50%        0.930000
75%        1.100000
max        2.800000
Name: alkphos, dtype: float64
**************************************************
is_patient
count    583.000000
mean       1.286449
std        0.452490
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: is_patient, dtype: float64
**************************************************

In [8]:
df[df['alkphos'].isnull()]

     age  gender  tot_bilirubin  ...  sgot  alkphos  is_patient
209   45  Female            0.9  ...   3.9      NaN           1
241   51    Male            0.8  ...   3.1      NaN           1
253   35  Female            0.6  ...   2.7      NaN           2
312   27    Male            1.3  ...   4.8      NaN           2

[4 rows x 11 columns]

In [10]:
# Dropping Null Values
df = df.dropna()
# Changing the values in "Liver_Disease" column 
df['is_patient'] = df['is_patient'] - 1 
# Converting Gender column into categorical data 
LabelEncoder = LabelEncoder()
df['Is_male'] = LabelEncoder.fit_transform(df['gender'])
df = df.drop(columns='gender')

In [11]:
df.head()

   age  tot_bilirubin  direct_bilirubin  ...  alkphos  is_patient  Is_male
0   65            0.7               0.1  ...     0.90           0        0
1   62           10.9               5.5  ...     0.74           0        1
2   62            7.3               4.1  ...     0.89           0        1
3   58            1.0               0.4  ...     1.00           0        1
4   72            3.9               2.0  ...     0.40           0        1

[5 rows x 11 columns]

In [14]:
x = df.drop("is_patient", axis = 1)
y = df['is_patient']

# splitting the data into training and test set for each cluster one by one
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

In [17]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=10)

model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [18]:
y_pred=model.predict(x_test)

In [20]:
print(accuracy_score(y_pred,y_test)*100)

61.206896551724135

In [21]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(max_depth = None , random_state = 1 , max_features = None, min_samples_leaf =20)
dtree.fit(x_train,y_train)
y_pred_dtree = dtree.predict(x_test)

In [22]:
print(accuracy_score(y_pred_dtree,y_test)*100)

67.24137931034483

In [24]:
from sklearn import preprocessing
X_scaler = preprocessing.normalize(df)
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_scaler, y, random_state = 0)

print("Train Shape: {}".format(X_train.shape))
print("Test Shape: {}".format(X_test.shape))

Train Shape: (434, 11)
Test Shape: (145, 11)

In [26]:
# Use score method to get accuracy of model
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
score = lr.score(X_test, y_test)
print("Score of the model is - ",score)
print("Report card of this model - ")
print(metrics.classification_report(y_test, y_pred, digits=3))
print("Accuracy score - ", metrics.accuracy_score(y_test,y_pred))

Score of the model is -  0.7172413793103448
Report card of this model -
              precision    recall  f1-score   support

           0      0.717     1.000     0.835       104
           1      0.000     0.000     0.000        41

    accuracy                          0.717       145
   macro avg      0.359     0.500     0.418       145
weighted avg      0.514     0.717     0.599       145

Accuracy score -  0.7172413793103448

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(max_depth = None , random_state = 1 , max_features = None, min_samples_leaf =20)
dtree.fit(X_train,y_train)
y_pred_dtree = dtree.predict(X_test)
score = dtree.score(X_test, y_test)
print("Score of the model is - ",score)
print("Report card of this model - ")
print(metrics.classification_report(y_test, y_pred_dtree, digits=3))
print("Accuracy score - ", metrics.accuracy_score(y_test,y_pred_dtree))

Score of the model is -  1.0
Report card of this model -
              precision    recall  f1-score   support

           0      1.000     1.000     1.000       104
           1      1.000     1.000     1.000        41

    accuracy                          1.000       145
   macro avg      1.000     1.000     1.000       145
weighted avg      1.000     1.000     1.000       145

Accuracy score -  1.0

In [29]:
y_pred_dtree = dtree.predict(X_test)
print(accuracy_score(y_pred_dtree,y_test)*100)

100.0

In [32]:
import pickle

pickle.dump(model1,open("LIVER.pkl","wb"))