In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from  xgboost import XGBClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime
import pickle
import six
import sys
sys.modules['sklearn.externals.six'] = six

import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base

from sklearn.utils import resample
from imblearn.over_sampling import SMOTENC,RandomOverSampler
from sklearn.preprocessing import LabelEncoder

import imblearn.over_sampling
#from imblearn.over_sampling import KMeansSMOTE
import sklearn.impute
#from sklearn.impute import KNNImputer

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans


from sklearn.model_selection import train_test_split

sns.set()

In [34]:
df=pd.read_csv("/content/hypothyroid.csv")
df.head()

  age sex on thyroxine  ... TBG referral source binaryClass
0  41   F            f  ...   ?            SVHC           P
1  23   F            f  ...   ?           other           P
2  46   M            f  ...   ?           other           P
3  70   F            t  ...   ?           other           P
4  70   F            f  ...   ?             SVI           P

[5 rows x 30 columns]

In [35]:
df.duplicated().sum()

61

In [37]:
del df['TBG']

In [38]:
df.head()

  age sex on thyroxine  ... TBG measured referral source binaryClass
0  41   F            f  ...            f            SVHC           P
1  23   F            f  ...            f           other           P
2  46   M            f  ...            f           other           P
3  70   F            t  ...            f           other           P
4  70   F            f  ...            f             SVI           P

[5 rows x 29 columns]

In [67]:
new_df=df[['age','sex','on thyroxine','on antithyroid medication','goitre','hypopituitary','psych','T3','TT4','T4U','FTI','binaryClass']]

In [87]:
new_df.drop_duplicates(keep = False, inplace = True)
new_df=new_df.replace({"?":np.NAN})
new_df.isnull().sum()

age                            1
sex                          148
on thyroxine                   0
on antithyroid medication      0
goitre                         0
hypopituitary                  0
psych                          0
T3                           632
TT4                           94
T4U                          250
FTI                          248
binaryClass                    0
dtype: int64

In [83]:
new_df=new_df.replace({"t":1,"f":0})
new_df=new_df.replace({"P":1,"N":0})
new_df["binaryClass"].value_counts()

1    3342
0     291
Name: binaryClass, dtype: int64

In [72]:
new_df.dropna()
new_df.isna().sum()

age                            1
sex                          148
on thyroxine                   0
on antithyroid medication      0
goitre                         0
hypopituitary                  0
psych                          0
T3                           632
TT4                           94
T4U                          250
FTI                          248
binaryClass                    0
dtype: int64

In [70]:
new_df = new_df.interpolate(method = 'spline', order = 3)
new_df.isna().sum()

age                            1
sex                          148
on thyroxine                   0
on antithyroid medication      0
goitre                         0
hypopituitary                  0
psych                          0
T3                           632
TT4                           94
T4U                          250
FTI                          248
binaryClass                    0
dtype: int64

In [91]:
x = new_df1.drop("binaryClass", axis = 1)
y = new_df1["binaryClass"]

# splitting the data into training and test set for each cluster one by one
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

# Random forest classifier

In [92]:
from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier(random_state=10)

model1.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [89]:
new_df.head()

  age  sex  on thyroxine  ...   T4U  FTI  binaryClass
0  41  1.0             0  ...  1.14  109            1
1  23  1.0             0  ...   NaN  NaN            1
2  46  0.0             0  ...  0.91  120            1
3  70  1.0             1  ...   NaN  NaN            1
4  70  1.0             0  ...  0.87   70            1

[5 rows x 12 columns]

In [85]:
new_df["sex"].value_counts()

new_df['sex']=df['sex'].replace({"F":1,"M":0})
new_df.dtypes

age                          object
sex                          object
on thyroxine                  int64
on antithyroid medication     int64
goitre                        int64
hypopituitary                 int64
psych                         int64
T3                           object
TT4                          object
T4U                          object
FTI                          object
binaryClass                   int64
dtype: object

In [88]:
imputer=sklearn.impute.KNNImputer(n_neighbors=3, weights='uniform',missing_values=np.nan)
new_array=imputer.fit_transform(new_df) # impute the missing values
# convert the nd-array returned in the step above to a Dataframe
new_df1=pd.DataFrame(data=np.round(new_array), columns=new_df.columns)

In [90]:
new_df1.head()

    age  sex  on thyroxine  ...  T4U    FTI  binaryClass
0  41.0  1.0           0.0  ...  1.0  109.0          1.0
1  23.0  1.0           0.0  ...  1.0  102.0          1.0
2  46.0  0.0           0.0  ...  1.0  120.0          1.0
3  70.0  1.0           1.0  ...  1.0  177.0          1.0
4  70.0  1.0           0.0  ...  1.0   70.0          1.0

[5 rows x 12 columns]

In [94]:
print(accuracy_score(y_test)*100)

TypeError: ignored

In [98]:
ans=model1.predict([["46.0","0.0","0.0","0.0","0.0","0.0","0.0","2.0","109.0","1.0","120.0"]])

In [99]:
if ans==1:
  print("positive")
else:
  print("negative")

positive

In [100]:

import pickle

pickle.dump(model1,open("Thyroid.pkl","wb"))